<div class='panel panel-primary'>
	<div class='panel-heading'>
		{{title}}
	</div>
	<div class='panel-body'>
		<div class='table-responsive'>
			<table class='table' *ngIf='inspections && inspections.length'>
				<thead>
					<tr>
						<th>ID</th>
						<th>Date</th>
						<th>Time In</th>
						<th>Time Out</th>
						<th>Street Address</th>
						<th>City</th>
						<th>State</th>
						<th>Zip</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor='let inspection of inspections'>
                        <td><a [routerLink]="['/vehicle/', inspection.id]">{{inspection.id}}</a></td>
                        <td>{{inspection.date}}</td>
                        <td>{{inspection.timeIn}}</td>
                        <td>{{inspection.timeOut}}</td>
                        <td>{{inspection.streetAddress}}</td>
                        <td>{{inspection.city}}</td>
                        <td>{{inspection.state}}</td>
                        <td>{{inspection.zip}}</td>
                    </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>