<div class='panel panel-primary'>
	<div class='panel-heading'>
		{{title}}
	</div>
	<div class='panel-body'>
		<div class='row'>
			<div class='col-md-2'>Filter by:</div>
			<div class='col-md-4'>
				<input type='text' />
			</div>
		</div>
		<div class='row'>
			<div class='col-md-6'>
				<h3>Filtered by: </h3>
			</div>
		</div>
		<div class='table-responsive'>
			<table class='table' *ngIf='vehicles && vehicles.length'>
				<thead>
					<tr>
						<th>Decal #</th>
						<th>Make</th>
						<th>Year</th>
						<th>License</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor='let vehicle of vehicles'>
                        <td>{{vehicle.decalNumber}}</td>
                        <td>{{vehicle.make}}</td>
                        <td>{{vehicle.year}}</td>
                        <td>{{vehicle.licensePlateNumber}}</td>
                    </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>