<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{title}}
    </div>
    <div class='panel-body'>
        <form #myForm="ngForm" (submit)='onSubmit(myForm)' #inspectionForm='ngForm' novalidate>
            <div class='row'>
                <div class='form-group col-md-2'>
                    <label for='vehicle-make'>6.Veh Make</label>
                    <div>
                        <input class='form-control' type='text' id='vehicle-make' [(ngModel)]='model.make' name='vehicle-make' required> 
                    </div>
                </div>
                <div class='form-group col-md-1'>
                    <label for='vehicle-year'>7.Year</label>
                    <div>
                        <input class='form-control' type='text' id='vehicle-year' [(ngModel)]='model.year' name='vehicle-year' required> 
                    </div>
                </div>
                <div class='form-group col-md-3'>
                    <label for='vehicle-vin'>8.VIN</label>
                    <div>
                        <input class='form-control' type='text' id='vehicle-vin' [(ngModel)]='model.vin' name='vehicle-vin' required> 
                    </div>
                </div>
                <div class='form-group col-md-1'>
                    <label for='vehicle-unit-number'>9.Unit #</label>
                    <div>
                        <input class='form-control' type='text' id='vehicle-unit-number' [(ngModel)]='model.unitNumber' name='vehicle-unit-number' required> 
                    </div>
                </div>
                <div class='form-group col-md-2'>
                    <label for='vehicle-odometer'>10.Odometer</label>
                    <div>
                        <input class='form-control' type='text' id='vehicle-odometer' [(ngModel)]='model.odometer' name='vehicle-odometer' required> 
                    </div>
                </div>
                <div class='form-group col-md-2'>
                    <label for='vehicle-lic'>11.Lic #</label>
                    <div>
                        <input class='form-control' type='text' id='vehicle-lic' [(ngModel)]='model.license' name='vehicle-license' required> 
                    </div>
                </div>
                <div class='form-group col-md-1'>
                    <label for='vehicle-license-state'>12.State</label>
                    <div>
                        <select class='form-control' id='vehicle-license-state' [(ngModel)]='model.licenseState' name='vehicle-license-state'>
                            <option default></option>
                            <option *ngFor='let state of states'>{{state}}</option>
                        </select>
                    </div> 
                </div>
                <div class='form-group col-md-2'>
                    <label for='vehicle-decal-number'>13.Decal #</label>
                    <div>
                        <input class='form-control' type='text' id='vehicle-decal-number' [(ngModel)]='model.decalNumber' name='vehicle-decal-number' required> 
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

