<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{title}}
    </div>
    <div class='panel-body'>
        <form (change)='onFormChange()' (ngSubmit)='onSubmit()' #inspectionForm='ngForm'>
            <h2>Inspection</h2>
            <div class='row'>
                <div class='form-group col-md-2'>
                    <label for='date-input'>1.Date</label>
                    <div>
                        <input class='form-control' type='date' id='date-input' required>
                    </div>
                </div>
                <div class='form-group col-md-2'>
                    <label for='inspection-time-in'>4.Time in</label>
                    <div>
                        <input class='form-control' type='time' id='inspection-time-in' required> 
                    </div>
                </div>
                <div class='form-group col-md-2'>
                    <label for='inspection-state'>5.Time out</label>
                    <div>
                        <input class='form-control' type='time' id='inspection-time-out' required> 
                    </div>
                </div>
            </div><!--/.row-->

            <div class='row'>
                <div class='form-group col-md-3'>
                    <label for='inspection-address'>2.Insp. Location (Street Address)</label>
                    <div>
                        <input class='form-control' type='text' id='inspection-address' [(ngModel)]='inspectionStreetAddress' name='inspection-address' required> 
                    </div>
                </div>

                <div class='form-group col-md-5'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <label for='inspection-city'>3.City</label>
                            <div>
                                <input class='form-control' type='text' id='inspection-city' required> 
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <label for='inspection-state'>State</label>
                            <div>
                                <select class='form-control' id='inspection-state'>
                                    <option *ngFor='let state of states'>{{state}}</option>
                                </select>
                            </div> 
                        </div>
                        <div class='col-md-4'>
                            <label for='inspection-zip'>Zip</label>
                            <div>
                                <input class='form-control' type='text' id='inspection-zip' required> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div><!--/.row-->
                <div class='row'>
                    <div class='form-group col-md-6'>
                        <div class='row'>
                            <div class='col-md-6'>
                                <label for='inspector-last-name'>22.Inspector's Last Name</label>
                                <div>
                                    <input class='form-control' type='text' id='inspector-last-name' required> 
                                </div>
                            </div>
                            <div class='col-md-6'>
                                <label for='inspector-first-name'>First Name</label>
                                <div>
                                    <input class='form-control' type='text' id='inspector-first-name' required> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            <div class='row'>
                <div class='form-group col-md-3'>
                    <label for='inspector-num'>23.Inspector #</label>
                    <div>
                        <input class='form-control' type='text' id='inspector-num' required> 
                    </div>
                </div> 
            </div><!--row-->
            <h2>Vehicle</h2>
            <div class='row'>
                <div class='form-group col-md-2'>
                    <label for='inspection-veh-make'>6.Veh Make</label>
                    <div>
                        <input class='form-control' type='text' id='inspection-veh-make' required> 
                    </div>
                </div>
                <div class='form-group col-md-1'>
                    <label for='inspection-veh-year'>7.Year</label>
                    <div>
                        <input class='form-control' type='text' id='inspection-veh-year' required> 
                    </div>
                </div>
                <div class='form-group col-md-3'>
                    <label for='inspection-veh-vin'>8.VIN</label>
                    <div>
                        <input class='form-control' type='text' id='inspection-veh-vin' required> 
                    </div>
                </div>
                <div class='form-group col-md-1'>
                    <label for='inspection-veh-unit'>9.Unit #</label>
                    <div>
                        <input class='form-control' type='text' id='inspection-veh-unit' required> 
                    </div>
                </div>
                <div class='form-group col-md-2'>
                    <label for='inspection-veh-odometer'>10.Odometer</label>
                    <div>
                        <input class='form-control' type='text' id='inspection-veh-odometer' required> 
                    </div>
                </div>
                <div class='form-group col-md-2'>
                    <label for='inspection-veh-lic'>11.Lic #</label>
                    <div>
                        <input class='form-control' type='text' id='inspection-veh-lic' required> 
                    </div>
                </div>
                <div class='form-group col-md-1'>
                    <label for='inspection-veh-state'>12.State</label>
                    <div>
                        <select class='form-control' id='inspection-veh-state'>
                            <option *ngFor='let state of states'>{{state}}</option>
                        </select>
                    </div> 
                </div>
            </div><!--/.row-->
            <h2>Owner</h2>
            <div class='row'>
                <div class='form-group col-md-4'>
                    <div class='row'>
                        <div class='col-xs-6'>
                            <label for='owner-last-name'>14.Owner Last Name</label>
                            <div>
                                <input class='form-control' type='text' id='owner-last-name' required> 
                            </div>
                        </div>
                        <div class='col-xs-6'>
                            <label for='owner-first-name'>First Name</label>
                            <div>
                                <input class='form-control' type='text' id='owner-first-name'required> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class='form-group col-md-3'>
                    <label for='owner-address'>15.Owner Street Address</label>
                    <div>
                        <input class='form-control' type='text' id='owner-address'required> 
                    </div>
                </div>
                <div class='form-group col-md-5'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <label for='owner-city'>16.City</label>
                            <div>
                                <input class='form-control' type='text' id='owner-city' required> 
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <label for='owner-state'>State</label>
                            <div>
                                <select class='form-control' id='owner-state'>
                                    <option *ngFor='let state of states'>{{state}}</option>
                                </select>
                            </div> 
                        </div>
                        <div class='col-md-4'>
                            <label for='owner-zip'>Zip</label>
                            <div>
                                <input class='form-control' type='text' id='owner-zip' required> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div><!--/.row-->
            <div class='row'>
                <div class='form-group col-md-2'>
                    <label for='inspection-veh-decal'>13.Decal #</label>
                    <div>
                        <input class='form-control' type='text' id='inspection-veh-decal' required> 
                    </div>
                </div>
                <div class='form-group col-md-2'>
                    <label for='owner-usdot'>20.Owner USDOT#</label>
                    <div>
                        <input class='form-control' type='text' id='owner-dot' required> 
                    </div>
                </div>
            </div><!--/.row-->
            <h1>Carrier</h1>
            <div class='row'>
                <div class='form-group col-md-4'>
                    <div class='row'>
                        <div class='col-xs-6'>
                            <label for='carrie-last-name'>17.Carrier Last Name</label>
                            <div>
                                <input class='form-control' type='text' id='carrier-last-name' required> 
                            </div>
                        </div>
                        <div class='col-xs-6'>
                            <label for='carrier-first-name'>First Name</label>
                            <div>
                                <input class='form-control' type='text' id='carrier-first-name' required> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class='form-group col-md-3'>
                    <label for='carrier-address'>18.Carrier Street Address</label>
                    <div>
                        <input class='form-control' type='text' id='carrier-address' required> 
                    </div>
                </div>
                <div class='form-group col-md-5'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <label for='carrier-city'>19.City</label>
                            <div>
                                <input class='form-control' type='text' id='carrier-city' required> 
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <label for='carrier-state'>State</label>
                            <div>
                                <select class='form-control' id='carrier-state'>
                                    <option *ngFor='let state of states'>{{state}}</option>
                                </select>
                            </div> 
                        </div>
                        <div class='col-md-4'>
                            <label for='carrier-zip'>Zip</label>
                            <div>
                                <input class='form-control' type='text' id='carrier-zip' required> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div><!--/.row-->
            <div class='row'>
                <div class='form-group col-md-2'>
                    <label for='carrier-usdot'>21.Carrier USDOT#</label>
                    <div>
                        <input class='form-control' type='text' id='carrier-owner-dot' required> 
                    </div>
                </div>
            </div><!--/.row-->
            <button type='submit' class='btn btn-success' [disabled]='!inspectionForm.form.valid'>Submit</button>
        </form>
    </div>
</div>