<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{title}}
    </div>
    <div class='panel-body'>
        <form #form="ngForm" novalidate (submit)='onSubmit()' #inspectionForm='ngForm'>
            <h2>Inspection</h2>
            <div class='row'>
                <div class='form-group col-md-2'>
                    <label for='date-input'>1.Date</label>
                    <div>
                        <input class='form-control' type='date' id='date-input' [(ngModel)]='model.inspectionDate' name='inspection-date' required>
                    </div>
                </div>
                <div class='form-group col-md-2'>
                    <label for='inspection-time-in'>4.Time in</label>
                    <div>
                        <input class='form-control' type='time' id='inspection-time-in' [(ngModel)]='model.inspectionTimeIn' name='inspection-time-in' required> 
                    </div>
                </div>
                <div class='form-group col-md-2'>
                    <label for='inspection-time-out'>5.Time out</label>
                    <div>
                        <input class='form-control' type='time' id='inspection-time-out' [(ngModel)]='model.inspectionTimeOut' name='inspection-time-out' required> 
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='form-group col-md-3' [class.has-error]="inspectionAddress.dirty && inspectionAddress.invalid">
                    <label class="control-label" for='inspection-address'>2.Insp. Location (Street Address)</label>
                    <div>
                        <input class='form-control' type='text' id='inspection-address'
                            [(ngModel)]='model.inspectionStreetAddress' name='inspection-address'
                            #inspectionAddress="ngModel" required> 
                    </div>
                </div>
                <div class='col-md-5'>
                    <div class='row'>
                        <div class='col-md-6 form-group' [class.has-error]="inspectionCity.dirty && inspectionCity.invalid">
                            <label class="control-label" for='inspection-city'>3.City</label>
                            <div>
                                <input class='form-control' type='text' id='inspection-city'
                                    [(ngModel)]='model.inspectionCity' name='inspection-city'
                                    #inspectionCity="ngModel" required> 
                            </div>
                        </div>
                        <div class='col-md-2 form-group' [class.has-error]="inspectionState.dirty && model.inspectionState === 'default'">
                            <label class='control-label' for='inspection-state'>State</label>
                            <div>
                                <select class='form-control' id='inspection-state'
                                    [(ngModel)]='model.inspectionState' name='inspection-state'
                                    #inspectionState="ngModel" required>
                                    <option value="default"></option>
                                    <option *ngFor='let state of states'>{{ state }}</option>
                                </select>
                            </div>

                        </div>
                        <div class='col-md-4 form-group' [class.has-error]="inspectionZip.dirty && inspectionZip.invalid">
                            <label class="control-label" for='inspection-zip'>Zip</label>
                            <div>
                                <input class='form-control' type='text' id='inspection-zip'
                                    [(ngModel)]='model.inspectionZip' name='inspection-zip'
                                    #inspectionZip="ngModel" required> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='row'>
                        <div class='col-md-6 form-group' [class.has-error]="inspectorLastName.dirty && inspectorLastName.invalid">
                            <button type="button" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-search"></i></button>
                            <label class="control-label" for='inspector-last-name'>22.Inspector's Last Name</label>
                            <div>
                                <input class='form-control' type='text' id='inspector-last-name'
                                    [(ngModel)]='model.inspectorLastName' name='inspector-last-name'
                                    #inspectorLastName="ngModel" required> 
                            </div>
                        </div>
                        <div class='col-md-6 form-group' [class.has-error]="inspectorFirstName.dirty && inspectorFirstName.invalid">
                            <label class="control-label" for='inspector-first-name'>First Name</label>
                            <div>
                                <input class='form-control' type='text' id='inspector-first-name'
                                    [(ngModel)]='model.inspectorFirstName' name='inspector-first-name'
                                    #inspectorFirstName="ngModel" required> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='form-group col-md-3' [class.has-error]="inspectorNumber.dirty && inspectorNumber.invalid">
                    <label class="control-label" for='inspector-num'>23.Inspector #</label>
                    <div>
                        <input class='form-control' type='text' id='inspector-num'
                            [(ngModel)]='model.inspectorNumber' name='inspector-number'
                            #inspectorNumber="ngModel" required> 
                    </div>
                </div>
            </div><!--row-->
            <div class="row" *ngIf="!form.valid">
                <div class="col-md-6 alert alert-danger">
                    <ul>
                        <li *ngIf="inspectionAddress.dirty && inspectionAddress.invalid">Inspection Street Address Is required</li>
                        <li *ngIf="inspectionCity.dirty && inspectionCity.invalid">Inspection City Is required</li>
                        <li *ngIf="inspectionState.dirty && model.inspectionState === 'default'">Inspection State is required</li>
                        <li *ngIf="inspectionZip.dirty && inspectionZip.invalid">Inspection Zip Is required</li>
                        <li *ngIf="inspectorLastName.dirty && inspectorLastName.invalid">Inspector's Last Name Is required</li>
                        <li *ngIf="inspectorFirstName.dirty && inspectorFirstName.invalid">Inspector's First Name Is required</li>
                        <li *ngIf="inspectorNumber.dirty && inspectorNumber.invalid">Inspector's Number Is required</li>
                    </ul>
                </div>
            </div>
<!--
            <h2>Vehicle</h2>
            <div class='row'>
                <div class='form-group col-md-2'>
                    <label for='vehicle-make'>6.Veh Make</label>
                    <div>
                        <input class='form-control' type='text' id='vehicle-make' [(ngModel)]='model.vehicleMake' name='vehicle-make' required> 
                    </div>
                </div>
                <div class='form-group col-md-1'>
                    <label for='vehicle-year'>7.Year</label>
                    <div>
                        <input class='form-control' type='text' id='vehicle-year' [(ngModel)]='model.vehicleYear' name='vehicle-year' required> 
                    </div>
                </div>
                <div class='form-group col-md-3'>
                    <label for='vehicle-vin'>8.VIN</label>
                    <div>
                        <input class='form-control' type='text' id='vehicle-vin' [(ngModel)]='model.vehicleVin' name='vehicle-vin' required> 
                    </div>
                </div>
                <div class='form-group col-md-1'>
                    <label for='vehicle-unit-number'>9.Unit #</label>
                    <div>
                        <input class='form-control' type='text' id='vehicle-unit-number' [(ngModel)]='model.vehicleUnitNumber' name='vehicle-unit-number' required> 
                    </div>
                </div>
                <div class='form-group col-md-2'>
                    <label for='vehicle-odometer'>10.Odometer</label>
                    <div>
                        <input class='form-control' type='text' id='vehicle-odometer' [(ngModel)]='model.vehicleOdometer' name='vehicle-odometer' required> 
                    </div>
                </div>
                <div class='form-group col-md-2'>
                    <label for='vehicle-lic'>11.Lic #</label>
                    <div>
                        <input class='form-control' type='text' id='vehicle-lic' [(ngModel)]='model.vehicleLicense' name='vehicle-license' required> 
                    </div>
                </div>
                <div class='form-group col-md-1'>
                    <label for='vehicle-license-state'>12.State</label>
                    <div>
                        <select class='form-control' id='vehicle-license-state' [(ngModel)]='model.vehicleLicenseState' name='vehicle-license-state'>
                            <option default></option>
                            <option *ngFor='let state of states'>{{state}}</option>
                        </select>
                    </div> 
                </div>
                <div class='form-group col-md-2'>
                    <label for='vehicle-decal-number'>13.Decal #</label>
                    <div>
                        <input class='form-control' type='text' id='vehicle-decal-number' [(ngModel)]='model.vehicleDecalNumber' name='vehicle-decal-number' required> 
                    </div>
                </div>
            </div>
            <h2>Owner</h2>
            <div class='row'>
                <div class='form-group col-md-4'>
                    <div class='row'>
                        <div class='col-xs-6'>
                            <label for='owner-last-name'>14.Owner Last Name</label>
                            <div>
                                <input class='form-control' type='text' id='owner-last-name' [(ngModel)]='model.ownerLastName' name='owner-last-name' required> 
                            </div>
                        </div>
                        <div class='col-xs-6'>
                            <label for='owner-first-name'>First Name</label>
                            <div>
                                <input class='form-control' type='text' id='owner-first-name' [(ngModel)]='model.ownerFirstName' name='owner-first-name' required> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class='form-group col-md-3'>
                    <label for='owner-address'>15.Owner Street Address</label>
                    <div>
                        <input class='form-control' type='text' id='owner-address' [(ngModel)]='model.ownerStreetAddress' name='owner-street-address' required> 
                    </div>
                </div>
                <div class='form-group col-md-5'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <label for='owner-city'>16.City</label>
                            <div>
                                <input class='form-control' type='text' id='owner-city' [(ngModel)]='model.ownerCity' name='owner-city' required> 
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <label for='owner-state'>State</label>
                            <div>
                                <select class='form-control' id='owner-state' [(ngModel)]='model.ownerState' name='owner-state'>
                                    <option default></option>
                                    <option *ngFor='let state of states'>{{state}}</option>
                                </select>
                            </div> 
                        </div>
                        <div class='col-md-4'>
                            <label for='owner-zip'>Zip</label>
                            <div>
                                <input class='form-control' type='text' id='owner-zip' [(ngModel)]='model.ownerZip' name='owner-zip' required> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='form-group col-md-2'>
                    <label for='owner-usdot-number'>20.Owner USDOT#</label>
                    <div>
                        <input class='form-control' type='text' id='owner-usdot-number' [(ngModel)]='model.ownerUsdotNumber' name='owner-usdot-number' required> 
                    </div>
                </div>
            </div>
            <h1>Carrier</h1>
            <div class='row'>
                <div class='form-group col-md-4'>
                    <div class='row'>
                        <div class='col-xs-6'>
                            <label for='carrier-last-name'>17.Carrier Last Name</label>
                            <div>
                                <input class='form-control' type='text' id='carrier-last-name' [(ngModel)]='model.carrierLastName' name='carrier-last-name' required> 
                            </div>
                        </div>
                        <div class='col-xs-6'>
                            <label for='carrier-first-name'>First Name</label>
                            <div>
                                <input class='form-control' type='text' id='carrier-first-name' [(ngModel)]='model.carrierFirstName' name='carrier-first-name' required> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class='form-group col-md-3'>
                    <label for='carrier-address'>18.Carrier Street Address</label>
                    <div>
                        <input class='form-control' type='text' id='carrier-address' [(ngModel)]='model.carrierStreetAddress' name='carrier-street-address' required> 
                    </div>
                </div>
                <div class='form-group col-md-5'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <label for='carrier-city'>19.City</label>
                            <div>
                                <input class='form-control' type='text' id='carrier-city' [(ngModel)]='model.carrierCity' name='carrier-city' required> 
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <label for='carrier-state'>State</label>
                            <div>
                                <select class='form-control' id='carrier-state' [(ngModel)]='model.carrierState' name='carrier-state'>
                                    <option *ngFor='let state of states'>{{state}}</option>
                                </select>
                            </div> 
                        </div>
                        <div class='col-md-4'>
                            <label for='carrier-zip'>Zip</label>
                            <div>
                                <input class='form-control' type='text' id='carrier-zip' [(ngModel)]='model.carrierZip' name='carrier-zip' required> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='form-group col-md-2'>
                    <label for='carrier-usdot-number'>21.Carrier USDOT#</label>
                    <div>
                        <input class='form-control' type='text' id='carrier-usdot-number' [(ngModel)]='model.carrierUsdotNumber' name='carrier-usdot-number' required> 
                    </div>
                </div>
            </div>
            -->
            <!--<button type='submit' class='btn btn-success' [disabled]='!inspectionForm.form.valid'>Submit</button>-->
            <button type='submit' class='btn btn-success'>Submit</button>
        </form>
    </div>
</div>