<div class='panel panel-primary'>
	<div class='panel-heading'>
		{{title}}
	</div>
	<div class='panel-body'>
		<div class='row'>
			<div class='col-xs-4'>Filter by:</div>
			<div class='col-xs-8'>
				<input type='text' />
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-12'>
				<h3>Filtered by: </h3>
			</div>
			<div class='table-responsive'>
				<table class='table'>
					<thead>
						<tr>
							<th>Decal #</th>
							<th>Make</th>
							<th>Year</th>
							<th>License</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>