<div>
    <h1>{{title}}</h1>
    <nav class='navbar navbar-default'>
        <div class='container fluid'  style='max-width:1440px; width: 100%;'>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['']">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dowpdown-toggle" data-toggle="dropdown" roll="button" aria-haspopup="true" aria-expanded="false">Inspections <i class="caret"></i></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['new-inspection']">New Inspection</a></li>
                        <li><a [routerLink]="['inspection-list']">Inspection List</a></li>
                    </ul>
                </li>
                <li><a [routerLink]="['']">Carriers</a></li>
                <li><a [routerLink]="['']">Owners</a></li>
                <li><a [routerLink]="['/vehicles']">Vehicles</a></li>
                <li class="dropdown">
                    <a href="#" class="dowpdown-toggle" data-toggle="dropdown" roll="button" aria-haspopup="true" aria-expanded="false">Inspectors<i class="caret"></i></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['inspector-detail']">Inspector Detail</a></li>
                        <li><a [routerLink]="['inspector-list']">Inspection List</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class='container' style='max-width:1440px; width: 100%;'>
        <router-outlet></router-outlet>
    </div>
</div>