<div class='panel panel-primary'>
	<div class='panel-heading'>
		{{title}}
	</div>
	<div class='panel-body'>
		<div class='table-responsive'>
			<table class='table' *ngIf='vehicles && vehicles.length'>
				<thead>
					<tr>
						<th>Decal #</th>
						<th>Make</th>
						<th>Year</th>
						<th>License</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor='let vehicle of vehicles'>
                        <td><a [routerLink]="['/vehicle/', vehicle.decal]">{{vehicle.decal}}</a></td>
                        <td>{{vehicle.make}}</td>
                        <td>{{vehicle.year}}</td>
                        <td>{{vehicle.license}}</td>
                    </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>